index.php
uploads
themes/twentyfifteen
themes/twentyseventeen
themes/twentysixteen
themes/the-bountiful-dish/bower_components
themes/the-bountiful-dish/node_modules
themes/the-bountiful-dish/assets/css/build
themes/the-bountiful-dish/assets/js/build
